### Your own API keys! ###
src/apikey.txt

### IntelliJ IDEA ###
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries
.idea/.
*.iws
*.iml
*.ipr
